@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/images/pattern-lines.svg"),
    url("/assets/images/background-desktop.png");
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
  position: relative;
  min-height: 100vh;
  font-family: "Inconsolata", serif;
}

input {
  background: none;
  border: none;
  outline: none;
}

.body_bg_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.body_bg_top {
  position: absolute;
  top: 0;
  right: 0;
}

.body_bg_circle_top {
  position: absolute;
  top: 0;
  left: 0;
}

.body_bg_circle {
  position: absolute;
  bottom: 30vh;
  right: 20vw;
}

.container {
  margin: 2rem auto 0 auto;
  max-width: 700px;
  color: #fff;
}

.logo {
  margin: 2rem auto;
  width: 200px;
}

.logo img {
  width: 100%;
}

.form {
  position: relative;
}

.form.d-none {
  display: none;
}

.form__heading {
  font-size: 48px;
  margin: 2rem auto 1rem auto;
  text-align: center;
}

.form__subheading, .container__subheading {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: #8784a4;
  margin-bottom: 2rem;
  text-align: center;
}

.form__input {
  max-width: 400px;
  margin: 0 auto;
}

.user_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.user_input input {
  color: #d2d1d6;
  font-size: 16px;
  font-family: "Inconsolata", serif;
}

.user_input input:hover {
  cursor: pointer;
  background: #393556;
}

.user_input input:focus {
  border: 1px solid #8784a4;
  outline: 2px solid #8784a4; 
  outline-offset: 3px; 
}
.view__image {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.view__image .image {
  border: 1px solid #d2d1d6;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.view__image .btns {
  display: flex;
  gap: 10px;
}

.view__image .btns button {
  padding: 5px 7px;
  color: #d2d1d6;
  font-size: 14px;
  font-family: inherit;
  background: #4b486a;
  border-radius: 5px;
  border: none;
  outline: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

label {
  font-size: 20px;
  margin-bottom: 1rem;
}

.user_input span {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8784a4;
  font-size: 13px;
}

.custom__input__file {
  background: rgba(255, 255, 255, 0.136);
  border: 1px dashed #d2d1d6;
  border-radius: 8px;
  padding: 1rem 0.5rem;
}
.custom__input__file:hover {
  background: #393556;
  cursor: pointer;
}

.custom__input__file .upload__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom__input__file img {
  background: rgba(255, 255, 255, 0.096);
  border: 1px solid #8784a4;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 5px;
}
.info .error{
  margin-top: 0;
}

input[type="text"],
input[type="email"] {
  background: rgba(255, 255, 255, 0.136);
  border: 1px solid #d2d1d6;
  border-radius: 8px;
  padding: 1rem 0.5rem;
}
::placeholder {
  color: #d2d1d6;
  font-family: "Inconsolata", serif;
  font-size: 16px;
}

.btn-ticket {
  width: 100%;
  background: #f57261;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1rem 0.5rem;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 16px;
  color: #0c082b;
  &:hover {
    background: #e26050;
    cursor: pointer;
  }
}

.ticket__container{
  padding: 2rem;
}

.container__heading{
  font-size: 48px;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.container__heading #user_name{
  background: -webkit-linear-gradient(left,#f37362, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__subheading{
  font-weight: 400;
  max-width: 400px;
  margin: 0 auto;
  color: #d2d1d6;
}

.container__subheading #user_email{
  color:#f37362 ;
}

.ticket{
  background: url('../images/pattern-ticket.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 2rem;
  margin: 7rem auto;
  width: 80%;
}

.ticket__left{
  display: flex;
  flex-direction: column;
  gap: 54px;

}
.ticket__header{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.ticket__header .conf__info h1{
  margin-bottom: 15px;
}

.ticket__header .conf__info p{
  color: #d2d1d6;
  font-size: 14px;
}

.ticket__user{
  display: flex;
  gap: 10px;
  align-items: center;
}

.ticket__user .user__image{
  height: 70px;
  width: 70px;
  border-radius: 15px;
  overflow: hidden;
}

.ticket__user img{
  width: 100%;
  height: 100%;
}

.ticket__user .user__info p{
  font-size: 22px;
  font-weight: 500;
}

.ticket__user .user__info .user_github{
  display: flex;
  gap: 5px;
}

.user_github{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.user_github img{
  width: 20px;
  height: 20px;
}
.user_github span{
  color: #d2d1d6;
}

.ticket__right{
  transform: rotate(90deg);
  color: #8784a4;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("/assets/images/pattern-lines.svg"),
      url("/assets/images/background-mobile.png");
  }
  .body_bg_bottom {
    max-width: 70vw;
    width: 100%;
  }
  .body_bg_top {
    max-width: 30vw;
    width: 100%;
  }
  .body_bg_circle_top {
    max-width: 100px;
    width: 100%;
  }
  .body_bg_circle {
    max-width: 100px;
    width: 100%;
    right: 50px;
  }
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .form__heading, .container__heading {
    font-size: 30px;
  }
}
